body{
    margin: 0;
    font-family: "Roboto", sans-serif;
}
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.btn:hover {
    box-shadow: unset;
}
input[type="button"]{
    outline: none;
}
button::selection{
    outline: none !important;
}